.dump-rocketship {
    background-image: url('../../assets/rocketship.svg');
}

.dump-rocketship-ghost {
    background-image: url('../../assets/rocketship-ghost.svg');
}

.dump-asteroid1 {
    background-image: url('../../assets/asteroid1.svg');
}

.dump-asteroid2 {
    background-image: url('../../assets/asteroid2.svg');
}

.dump-asteroid3 {
    background-image: url('../../assets/asteroid3.svg');
}

.dump-asteroid4 {
    background-image: url('../../assets/asteroid4.svg');
}

.dump-asteroid5 {
    background-image: url('../../assets/asteroid5.svg');
}
