.dump-rocketship {
    background-image: url('../../assets/rocketship.svg');
}

.dump-rocketship-ghost {
    background-image: url('../../assets/rocketship-ghost.svg');
}

.dump-asteroid1 {
    background-image: url('../../assets/asteroid1.svg');
}

.dump-asteroid2 {
    background-image: url('../../assets/asteroid2.svg');
}

.dump-asteroid3 {
    background-image: url('../../assets/asteroid3.svg');
}

.dump-asteroid4 {
    background-image: url('../../assets/asteroid4.svg');
}

.dump-asteroid5 {
    background-image: url('../../assets/asteroid5.svg');
}

// .dump-enable1 {
//     background-image: url('../../assets/enable1.svg');
// }

// .dump-enable2 {
//     background-image: url('../../assets/enable2.svg');
// }

// .dump-enable3 {
//     background-image: url('../../assets/enable3.svg');
// }

// .dump-enable4 {
//     background-image: url('../../assets/enable4.svg');
// }

// .dump-enable5 {
//     background-image: url('../../assets/enable5.svg');
// }

// .dump-enable6 {
//     background-image: url('../../assets/enable6.svg');
// }

// .dump-enable7 {
//     background-image: url('../../assets/enable7.svg');
// }

// .dump-enable8 {
//     background-image: url('../../assets/enable8.svg');
// }

// .dump-enable9 {
//     background-image: url('../../assets/enable9.svg');
// }

// .dump-enable10 {
//     background-image: url('../../assets/enable10.svg');
// }
