/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'SPACE';
    src: url('./assets/VeniteAdoremus-rgRBA.ttf') format('truetype');
}

* {
    font-family: SPACE
}
